* {
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.navbar-brand {
    font-size: 2.5rem;
    letter-spacing: 0.5vw;
    margin: 0rem;
    padding: 0 10vw;
}

.nav-item {
    padding: 0rem 1.5vw;
}

.container-fluid {
    font-size: 1.3rem;
    font-weight: 100;
    align-items: flex-end !important;
}

.card {
    margin: 1.5vw 10vw;
}

.row {
    align-items: center;
}

.rounded {
    width: 80%;
    margin: 1.5rem auto;
}

.border-bottom {
    border-bottom: 2px solid #7a7a7a !important;
}